.roadmapSection {
    background-color: #040404;
    padding: 8rem 1rem 8rem 1rem; 
    text-align: center;
    width: 100%; 
}

.title {
    font-size: 3rem;
    color: #ff6f91;
    margin-bottom: 6rem; 
    font-weight: bold; 
}

.roadmap {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.step {
    border: 1px solid #ff6f91;
    border-radius: 10px; 
    padding: 2rem; 
    margin: 1rem 0; 
    width: 100%; 
    max-width: 800px; 
    display: flex; 
    align-items: center; /* Center items vertically */
    gap: 2rem; /* Space between icon and text */
    transition: transform 0.3s ease, background 0.3s ease; 
    background: rgba(0, 0, 0, 0.1); 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3); 
}

.step:hover {
    transform: translateY(-5px); 
    background: #ff6f91; 
}

.icon {
    font-size: 2.5rem;
    color: #ffffff;
}

.text {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: left; /* Align text to the left for better readability */
    line-height: 1.5; 
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .step {
        padding: 1.5rem; 
        flex-direction: row; /* Keep icon and text in a row on medium screens */
    }

    .icon {
        font-size: 2rem; 
    }

    .text {
        font-size: 1.3rem; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }

    .step {
        padding: 1rem; 
        flex-direction: row; /* Keep icon and text in a row on small screens */
    }

    .text {
        font-size: 1rem; 
    }

    .icon {
        font-size: 1.8rem; 
    }
}
